body {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
}

h1.special {
  font-size: 20px;
  border-bottom: 2px black solid;
}

#myid {
  border: solid black 1px;
  box-shadow: inset 2px 2px black;
}

form h1 {
  font-size: 8px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: aqua;
  color: brown;
}

.navlinks-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 200px;
}

div.navlinks-container span {
  display: inline-block;
  background-color: salmon;
}